.card {
    background: #100E22;
    display: inline-block;
    padding: 30px;
    border-radius: 25px;
    font-family: "Spartan";
    width: 450px;
    margin: 0 25px;
    border: 1px solid #41197A;
    transition: all .3s ease;
    animation: slideInfinite 40s linear infinite;
    position: relative;
    vertical-align: top;
}

.card:hover {
    background: #ddd;
    border: 1px solid #ddd;
}

.card:hover .title {
    color: #000;
}

.cardInner {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    white-space: normal;
}


.cardLeft {
    flex-grow: 1;
    width: 100%;
    text-overflow: ellipsis;
}

.cardRight {
    flex: 0 0 120px;
}

.cardRight .icon {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.riskContainer {
    margin-top: 50px;
}

.title {
    font-size: 24px;
    color: #fff;
    transition: color .3s ease;
}

.description {
    margin-top: 10px;
    font-size: 16px;
    color: #6D6D6D;
}

.score {
    font-size: 60px;
    font-weight: 700;
    margin-top: 30px;
    background: -webkit-linear-gradient(122deg, #712792, #DA071C);
    background: linear-gradient(122deg, #712792, #DA071C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes slideInfinite {
    100% {
        transform: translateX(calc(-450px * 4));
    }
}

@media screen and (max-width: 1028px) {
    .card {
        width: 300px;
    }

    .title {
        font-size: 18px;
    }

    .cardRight {
        flex: 0 0 75px;
    }

    .cardRight .icon {
        width: 75px;
        height: 75px;
    }

    .score {
        font-size: 40px;
    }

    @keyframes slideInfinite {
        100% {
            transform: translateX(calc(-300px * 4));
        }
    }
}


@media screen and (max-width: 480px) {
    .card {
        width: 200px;
        padding: 20px;
        margin: 0 15px;
    }

    .title {
        font-size: 12px;
    }
    
    .description {
        font-size: 9px;
    }

    .cardRight {
        flex: 0 0 30px;
    }

    .cardRight .icon {
        width: 30px;
        height: 30px;
    }

    .score {
        font-size: 20px;
    }
}