.cardsContainer {
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 200px;
}

.cardsInner {
    white-space: nowrap;
}

.cardsTitle {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: "Spartan", sans-serif;
    padding: 50px;
}

@media screen and (max-width: 1028px) {
    .cardsContainer {
        margin-top: 150px;
    }

    .cardsTitle {
        font-size: 40px;
        margin-bottom: 50px;
        padding: 25px;
    }
}

@media screen and (max-width: 480px) {
    .cardsContainer {
        margin-top: 50px;
    }

    .cardsTitle {
        font-size: 30px;
        margin-bottom: 15px;
        padding: 25px;
    }
}