.explore {
    margin: 50px auto;
    font-family: "Spartan", sans-serif;
    padding: 0 50px;
    max-width: 1440px;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .explore {
        padding: 0 15px;
    }
}