.footer {
    color: #666;
    font-family: "Spartan", sans-serif;
    font-size: 12px;
    padding: 60px 50px;
    background-color: #0E0D1C;
    margin-top: 300px;
    border-top: 1px solid #1b2352;
    box-shadow: 0px 0px 40px rgba(46, 41, 92, 0.6);
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.legals {
    width: 200px;
    line-height: 1.5em;
}

.logo, .legals, .socials {
    padding: 15px 0 15px 0;
}

.socials {
    display: flex;
    width: 200px;
    justify-content: flex-end;
}

.social {
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .socials {
        justify-content: center;
    }
}


@media screen and (max-width: 860px) {
    .footer {
        margin-top: 50px;
    }
}