.main {
  background-color: #0C0D11;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background-image: url("../public/bg.png");
  background-size: cover;
  background-position: center;
}

nav.navigation {
  padding: 50px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav.navigation .logo {
  display: inline-block;
  vertical-align: middle;
}

nav.navigation .navigationList {
  flex-grow: 4;
  text-align: right;
  font-family: "Spartan", sans-serif;
}

nav.navigation .navigationList li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 80px;
}

nav.navigation .navigationList li:first-child {
  margin: 0px !important;
}

.teaser {
  margin: 50px auto;
  font-family: "Spartan", sans-serif;
  padding: 50px;
  max-width: 1440px;
}

.teaser .top {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 30px;
  color: #aaa;
}

.teaser .headline {
  font-size: 60px;
  margin-bottom: 50px;
}

.teaser .description {
  font-size: 20px;
  font-weight: 300;
}

.teaser .button {
  font-family: "Spartan", sans-serif;
  background-color: #100E22;
  padding: 20px 40px;
  color: #fff;
  border: 1px solid #41197A;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 300;
  transition: all .3s ease;
  cursor: pointer;
}

.teaser .button:hover {
  background-color: #1D1661;
}

@media screen and (max-width: 600px) {
  .teaser .top {
    font-size: 14px;
  }

  .teaser .headline {
    font-size: 40px;
  }

  .teaser .description {
    font-size: 16px;
  }

  .teaser {
    text-align: center;
  }
}