nav.navigation {
    padding: 50px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

nav.navigation .logo {
    display: inline-block;
    vertical-align: middle;
}

nav.navigation .navigationList {
    flex-grow: 4;
    text-align: right;
    font-family: "Spartan", sans-serif;
}

nav.navigation .navigationList li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
}

nav.navigation .navigationList li:first-child {
    margin: 0px !important;
}