.searchInputContainer {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: 75px;
    margin: 0 auto;
}

.searchInput {
    position: absolute;
    border: 1px solid #485BC5;
    background: rgba(16, 14, 34, 0.6);
    padding: 25px;
    color: #fff;
    border-radius: 10px;
    font-family: "Spartan", sans-serif;
    font-size: 20px;
    width: 100%;
    max-width: 750px;
    transition: all .3s ease;
}

.searchInput.focused {
    background: rgba(32, 27, 74, 1)
}

.topContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.searchIcon {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
}

.inputWrapper {
    flex-grow: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    width: 100%;
    font-family: "Spartan", sans-serif;
}

.input:focus {
    outline: none;
}

.searchOutput {
    text-align: left;
    margin-top: 30px;
    padding-top: 15px;
}

.searchResult {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    border-radius: 10px;
}

.searchResult:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

.resultIcon {
    display: flex;
    align-items: center;
}

.resultIconInner {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.resultTitle {
    font-size: 14px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.loader {
    width: 30px;
    height: 30px;
    border: 8px solid rgba(0, 82, 236, 0.25);
    border-top-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: loader-rotate 0.5s linear infinite;
    margin: 20px auto 10px auto;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 480px) {
    .input {
        font-size: 14px;
    }

    .searchInput {
        padding: 13px;
    }
}